.slide-content-wrapper {
    margin: 0;
    padding: 0;
}
.slide-content {
    margin: 0;
    padding: 0;
}

.slide-content.cover {
    all: inherit;
    margin: 0;
    padding: 5mm;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 0;
    overflow: hidden;
    font-size: 6pt;
}

.cover-title-wrapper {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: 1fr auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 2px;
}
.slide-content.cover .date {
    all: inherit;
    font-size: 1em;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    align-self: end;
    text-align: right;
}
.slide-content.cover .title {
    all: inherit;
    font-size: 2.5em;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    text-align: left;
    font-weight: 800;
}
.slide-content.cover .subtitle {
    all: inherit;
    font-size: 1.8em;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    text-align: left;
    font-weight: bold;
}
.slide-content.cover .presenter {
    all: inherit;
    font-size: 1.5em;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    align-self: end;
    text-align: right;
    font-weight: bold;
}
.slide-content.cover .affiliation {
    all: inherit;
    font-size: 1.2em;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    text-align: right;
}
.slide-content.cover .contact {
    all: inherit;
    font-size: 1.2em;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    text-align: right;
}

.multicolumn-container {
    align-items: stretch;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 8px;
}

.multicolumn-col {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 10px;
}

h1 {
    background-color: var(--primary-color);
    font-size: 1.2em;
}
