/*-------------------------------------------------*/
:root{
  --accent-color: #3b82f6;
}

.slide-content {
  background-color: white;
  color: black;
  font-size: 24px;
  box-sizing: border-box;
}

.slide-content h1 {
  font-size: 2.5em;
  margin: 0 0 0.25em 0;
  border-bottom: 3px solid var(--accent-color);
}

.slide-content h2 {
  font-size: 1.8em;
  margin: 0 0 0.25em 0;
  border-bottom: 1.5px solid var(--accent-color);
}

.slide-content h3 {
  font-size: 1.2em;
  margin: 0 0 0.25em 0;
  border-bottom: 1px dashed var(--accent-color);
}


.slide-content ul, 
.slide-content ol {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

.slide-content li {
  margin-bottom: 0.3em;
}

.slide-content img {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin: 10px auto;
}

.slide-content blockquote {
  border-left: 8px solid var(--accent-color);
}


.slide-content.newsection {
  background-color: var(--accent-color);
  color: white;
}
.slide-content.newsection h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.slide-content.cover {
  border-left: 20px solid var(--accent-color);
}

:root {
  --chat-message-bubble-color: #c6dcfe;
  --chat-message-accent-color: #3b82f6;
}
blockquote.chat-message {
  border-left: 0;
}